name: 批量访问保活进程-ct8

on:
  schedule:
    # 使用cron表达式定义任务运行的时间
    #github最小时间间隔为10分钟
    - cron: '0 0 */3 * *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: 安装依赖
        run: |
          sudo apt-get install jq
          sudo apt-get install sshpass

      - name: 访问各个ct8并执行保活脚本
        env:
          HOSTS_JSON: ${{ secrets.HOSTS_JSON }}
          TELEGRAM_TOKEN: ${{secrets.TELEGRAM_TOKEN}}
          TELEGRAM_USERID: ${{secrets.TELEGRAM_USERID}}
          WXPUSH_URL: ${{secrets.WXPUSH_URL}}
          WX_TOKEN: ${{secrets.WX_TOKEN}}
          SENDTYPE: ${{secrets.SENDTYPE}}
          BUTTON_URL: ${{secrets.BUTTON_URL}}
          AUTOUPDATE: ${{vars.AUTOUPDATE}}
          LOGININFO: ${{vars.LOGININFO}}
          TOKEN: ${{secrets.TOKEN}}
        run: |
          chmod +x ./revive_node.sh
          ./revive_node.sh

      - name: Keep Running
        if: github.event_name == 'schedule'
        run: |
          git config --local user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          git config --local user.name "${{ github.actor }}"
          git remote set-url origin https://${{ github.actor }}:${{ github.token }}@github.com/${{ github.repository }}
          git pull --rebase --autostash
          git commit --allow-empty -m "Keep Running..."
          git push

      - name: Delete workflow runs
        uses: yxdz2020/delete-workflow-runs@v20251112
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 10
